@import "../../style/helper.scss";

.main-item {
  display: grid;
  grid-template-columns: 360px auto 280px;
  grid-template-rows: 100%;

  margin-top: 30px;

  .left-col {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 0 50px;

    img {
      width: 260px;
      height: 300px;
    }
  }

  .middle-col {
    .in-b {
      padding-left: 25px;
    }
    .price-buy-b {
      margin: 40px 0 30px 0;
    }
    .price-b {
      display: flex;
      align-items: baseline;

      h1 {
        margin-right: 16px;
      }
    }
    .buy-b {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;

      button {
        margin-right: 30px;
      }
    }
  }

  .right-col {
  }
}
