@import "../../style/helper.scss";

.search-bar {
  display: block;

  .search-input {
    transition: 0.1s;
    margin: 0;
    width: calc(100% - 67px);
    height: 34px;
    font-size: 18px;
    padding: 0px 10px;
    outline: none;
    border: solid 2px color(primary);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-right: none;
  }
  .search-submit {
    transition: 0.1s;
    height: 38px;
    width: 45px;
    outline: none;
    vertical-align: bottom;
    background: color(primary);
    border: solid 2px color(primary);
    border-left: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    img {
      height: 24px;
      width: 24px;
    }
  }
  .search-submit.focused {
    border: solid 2px color(secondary);
    border-left: none;
    background: color(secondary);
  }

  .search-input.focused {
    border: solid 2px color(secondary);
    border-right: none;
  }

  .search-input.active {
    border-bottom-left-radius: 0;
  }

  .search-submit.active {
    border-bottom-right-radius: 0;
  }
}
