@import "../../style/helper.scss";

.app-bar {
  width: 100%;
  height: $AppBarSize;
  background-color: color(secondary);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

  .app-bar-content {
    display: grid;
    grid-template-columns: 240px auto 390px 20px;
    grid-template-rows: $AppBarSize;

    .logo {
      margin: auto 0 auto 10px;
    }

    .appbar-search-bar-container {
      display: inline-flex;
      width: 100%;
      justify-content: baseline;
      $SearchBarHeight: 34px;
      flex-wrap: nowrap;

      .school-selection-container {
        position: relative;
        margin: auto 0;
        $SearchBarHeight: 34px;
        $TransitionSpeed: 0.3s;

        .std-btn {
          transition: all ease-in $TransitionSpeed * 0.1;
          width: 165px;
          height: $SearchBarHeight;
          border-bottom-right-radius: 0;
          border-top-right-radius: 0;
          padding: 0;

          display: flex;
          justify-content: center;

          svg {
            margin-left: 8px;
          }
        }
        .std-btn.active {
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }

        .school-selection-spacer {
          position: absolute;
          transition: 0s;
          transform: scaleY(0);
          transform-origin: top;
          left: 0;
          width: 165px;
          height: ($AppBarSize - $SearchBarHeight) / 2;
          background-color: color(primary);
        }

        .school-selection-spacer.active {
          transition: all linear $TransitionSpeed * 0.2;
          transition-delay: $TransitionSpeed * 0.1;
          transform: scaleY(1);
        }

        .school-selection {
          transition: 0s;
          position: absolute;
          margin-top: $AppBarSize / 2 - $SearchBarHeight / 2;
          transform: scaleY(0);
          transform-origin: top;
          left: 0;
          width: 300px;
          background-color: color(primary);
          border-bottom-right-radius: 8px;
          border-bottom-left-radius: 8px;
          padding: 20px;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);

          .std-search-bar > input:focus {
            transition-delay: $TransitionSpeed !important;
          }
        }

        .school-selection.active {
          transition: all ease-out $TransitionSpeed * 0.7;
          transition-delay: $TransitionSpeed * 0.3;
          transform: scaleY(1);
        }
      }

      .appbar-search-bar {
        margin: auto 0;
        height: $SearchBarHeight;
        width: calc(100% - 165px);

        .search-input {
          transition: 0.1s;
          border: none;
          margin: 0;
          width: calc(100% - 70px);
          height: 34px;
          font-size: 18px;
          padding: 0px 10px;
          outline: none;
          vertical-align: middle;
          box-sizing: border-box;
          display: inline-block;
        }

        .search-submit {
          display: inline-block;
          transition: 0.1s;
          height: 34px;
          width: 45px;
          border: none;
          outline: none;
          vertical-align: middle;
          background: color(primary);
          border-top-right-radius: $sb-border-rd;
          border-bottom-right-radius: $sb-border-rd;
          box-sizing: border-box;

          img {
            height: 24px;
            width: 24px;
          }
        }

        .search-input-focused {
          border-top: solid 2px color(primary);
          border-bottom: solid 2px color(primary);
        }

        .search-submit-focused {
          border-top: solid 2px color(primary);
          border-bottom: solid 2px color(primary);
        }
      }
    }

    .user-bar {
      display: flex;
      align-items: center;

      a {
        padding: 0 6px;
        font-size: 15px;
        color: color(primary);
        font-weight: weight(medium);
      }

      a:hover {
        text-decoration: underline;
      }

      .std-btn {
        width: 160px;
        margin-left: auto;
      }
    }
  }
}

/*


.app-bar {
  background-color: color(secondary);
  display: grid;
  grid-template-columns: 190px auto 200px 200px;
  grid-template-rows: $AppBarSize;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

  .logo {
    margin: auto 0 auto 10px;
  }

  .appbar-search-bar {
    display: inline;
    margin: auto 0;

    .search-input {
      transition: 0.1s;
      border: none;
      margin: 0;
      width: calc(100% - 235px);
      height: 34px;
      font-size: 18px;
      padding: 0px 10px;
      outline: none;
      border-top: solid 2px color(secondary);
      border-bottom: solid 2px color(secondary);
    }
    .search-submit {
      transition: 0.1s;
      height: 38px;
      width: 45px;
      border: none;
      outline: none;
      vertical-align: bottom;
      background: color(primary);
      border-top-right-radius: $sb-border-rd;
      border-bottom-right-radius: $sb-border-rd;
      border-top: solid 2px color(secondary);
      border-bottom: solid 2px color(secondary);

      img {
        height: 24px;
        width: 24px;
      }
    }
    .search-submit-focused {
      border-top: solid 2px color(primary);
      border-bottom: solid 2px color(primary);
    }

    .search-input-focused {
      border-top: solid 2px color(primary);
      border-bottom: solid 2px color(primary);
    }
  }

  .user-bar {
    margin: auto;

    .log-sig {
      color: color(primary);
      font-weight: weight(bold);

      span {
        margin: 0 10px;
        text-decoration: underline;
      }
    }
  }
}

*/
