@import "./helper.scss";

.skinny-title {
  margin: 0;
  font-weight: weight(light);
  font-size: 16px;
}

.m-title {
  margin: 0;
  font-weight: weight(bold);
  font-size: 22px;
  color: color(primary);
}

.lg-title {
  margin: 0;
  font-weight: weight(bold);
  font-size: 24px;
  color: color(primary);
}

.s-subtitle {
  margin: 0;
  font-weight: weight(regular);
  font-size: 14px;
  color: color(primary-black);
}

.std-field {
  width: auto;
  font-size: 12;
  font-weight: weight(medium);
  border: solid 2px color(primary);
  border-radius: 4px;
  padding: 2px 4px;
}

.clr-p {
  color: color(primary) !important;
}

.clr-s {
  color: color(secondary) !important;
}

.hide {
  display: none !important;
}

.std-btn {
  border: none;
  background-color: color(primary);
  color: color(white);
  border-radius: $sb-border-rd;
  padding: 8px 18px;
  font-size: 16px;
}

.highlight {
  font-size: 14px;
  color: color(primary);
  font-weight: weight(bold);
}

button:hover {
  cursor: pointer;
}
