$primaryFont: "Roboto", sans-serif;

$colors: (
  primary: #114b5f,
  secondary: #1a936f,
  white: #ffffff,
  grey: #7c7c7c,
  light-grey: #aaaaaa,
  primary-black: #202020
);

$sb-border-rd: 6px;
$fontWeights: (
  light: 300,
  regular: 500,
  medium: 700,
  bold: 800
);
@function color($color-name) {
  @return map-get($colors, $color-name);
}
@function weight($weight-name) {
  @return map-get($fontWeights, $weight-name);
}
