@import "../../style/helper.scss";

.list-item {
  margin: 0 30px;
  padding: 30px 0;
  display: block;
  border-bottom: solid 1px color(light-grey);
  .item-info {
    display: grid;
    grid-template-columns: 175px auto;

    .info-list {
      margin-left: 30px;

      .row-spacing {
        display: block;

        h1 {
          display: inline;
        }
      }

      .price-tag {
        margin: 20px 0;
      }
    }

    .m-title {
      transition: 0.2s;
    }

    .m-title.focused {
      text-decoration: underline;
    }
  }
}

.list-item:last-child {
  border: none;
}
