.center-panel {
    transform: translateX(0%);
    margin-left: 35%;
    margin-top: 30%;

  }
.divSX{
    background-color:#114B5F;
}
.divDX{ 
    background-color:white;
    display: flex;
    flex-direction: column;
}