@import "../../../style/helper.scss";

.text-field {
  display: block;
  label {
    display: inline-block;
    position: absolute;
    transition: all 150ms ease-in;
    margin: 0 0 2px 4px;
    cursor: text;
    color: color(grey);
    font-size: 18px;
  }

  label.active-label {
    transform: translateY(-20px);
    margin-left: 0px;
    font-size: 14px;
  }

  input {
    border: none;
    border-bottom: solid 1px color(primary-black);
    padding-bottom: 2px;
    padding-left: 4px;
    outline: none;
    transition: all 100ms;
    font-size: 18px;
    width: 350px;
    margin: 0;
  }

  input.error {
    border-bottom: solid 1px color(warning);
  }

  input:focus {
    border-bottom: solid 1px color(primary);
  }

  .error-message {
    position: absolute;
    display: block;
    color: color(warning);
    font-size: 12px;
    transform: translateY(4px);
  }
}

.text-field-closed {
  input {
    width: auto;
    font-size: 12;
    font-weight: weight(medium);
    border: solid 2px color(primary);
    border-radius: 4px;
    padding: 2px 4px;
  }
}
